<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Osmosis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Le styles -->
       <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
/*
     #profile-name{
     		position:relative;
     		top:30px;
     		left:-10px;
     		
     		
	     
      }
*/

	.thumbnailss{
		float:right;
		margin-right: 230px;
		width:1000px;
		
	}

	#pro{
		position:relative;
		top:25px;
		
		
		
		
	}
	
	#sort-by{
		position:relative;
		right:-880px;	
		
	}
	
	#sortTeams{
		position:relative;
		right:-900px;
		
	}
      #welcome_msg{
	      position:relative;
	      top: 5px;
	      float:right;
	      color:grey;
	      
      }
      
      #plus_sign{
	      position:relative;
	      top: -5px;
	      left:-10px;
	      color:red;
	      
      }
      
      #notify_btn{
	      position:relative;
	      top: 0px;
	      left:10px;
      
      }
      
      #notify_badge{
	      position:relative;
	      top: -5px;
	      left:-90px;

      }
      
      #logo_img{
	      position:relative;
	      top: 10px;
	      left: 0px;
      }

       
      
      
/*
      #updateButton{
	      position:relative;
	      left:1100px;
	      
      }
      
      #photoPlaceHolder{
	      
	      position:relative;
	      left:1100px;
	      
      }
*/
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img src="img/OsmosisLogo.png" width=9% id="logo_img">
          <div id="welcome_msg">Welcome, {{name}} | <a href="index-for-log-out.html" >Logout</a></div>
          <br>
          <br>
         
            <ul class="nav" >
              <li class="active"><a href="#" id="tabcolor"><i class="icon-home icon-white"></i> HOME</a></li>
              <li><a href="#about" >PROFILE</a></li>
              <li><a href="#contact">PROJECT CATALOG</a></li>
              <li><a href="#contact">TEAM CATALOG</a></li>
              <li><a href="#contact">FAQ</a></li>
              
            </ul>
            
            <div align="right">
            <button class="btn btn-small btn-warning" type="button" id="notify_btn"><b>Notification</b></button><span class="badge badge-important" id="notify_badge">1</span>
            <button class="btn btn-small btn-primary" type="button">Create Proposal</button>
            <i class="icon-white icon-plus" id="plus_sign"></i><button class="btn btn-small btn-primary" type="button">Create Project</button>
            <i class="icon-white icon-plus" id="plus_sign"></i><button class="btn btn-small btn-primary" type="button">Create Team</button>
            <i class="icon-white icon-plus" id="plus_sign"></i>
            </div>
            
         </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
     
      <div class="page-header" id="pro">
      	
      	<h2 id="profile-name">Profile name</h2>

      	
      </div>
        
 
      </div>
      
      <!-- profile start -->
   

      
   
      
       <!-- start of update button and placeholder -->
      <div class="container-fluid"> 
      
      <div class = "span10">
			      
      <div class = "row-fluid">

	      	<div class = "span10 offset1">
	      		Full name: <br/><br/>
	      		Email address:<br/><br/>
	      		Personal Website:<br/><br/>
	      		Current location:<br/><br/>
	      		Highest qualification:<br/><br/>
	      		Certification(s):<br/><br/>
	      		
	      		<table class="table table-condensed table-striped">
				 <tr>
				 
				 <th>heading</th>
				 <th>heading</th>
				 
				 </tr>
				 <tr>
				 <th>heading</th>
				 <th>heading</th>
				 </tr>
				</table>
	      		
	      		
	      	 </div>

	     </div>			      
			   
      </div>

	      <div class ="row-fluid">
		      <div class = "span2">
			            <p id="updateButton"><a class="btn" href="#">Update profile &raquo;</a></p>
			            <img src = "http://placehold.it/150x150&text=Photo" id="photoPlaceHolder"/>
			      
		      </div>
	      </div>


		      
<!-- end update button and place holder -->
	      
         <!-- end profile --> 
      
      
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Teams
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
<div class = "teams">
  	<div class ="row span12 offset">
	 	 
	 <span id="sort-by">Sort by:  </span>
<select ng-model="orderProp" id="sortTeams">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<!--
<ul class="teams">
  <li ng-repeat="team in teams | filter:query | orderBy:orderProp">
    {{team.name}}
    <p>{{team.snippet}}</p>
  </li>
</ul>
-->
	

	 <div class="pagination pagination-right">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
	  			
	  			<u1 class = "thumbnailss" > 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=team"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=team"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=team"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=team"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=team"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>
  </div>



                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Projects Available
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
<div class="row">
        <div class="span12 offset">
	 <span id="sort-by">Sort by:  </span>
<select ng-model="orderProp" id="sortTeams">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<!--
<ul class="teams">
  <li ng-repeat="team in teams | filter:query | orderBy:orderProp">
    {{team.name}}
    <p>{{team.snippet}}</p>
  </li>
</ul>
-->
	

	 <div class="pagination pagination-right">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
	  			
      
      
      <ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#option1" data-toggle="tab">Projects offered by me</a>
	  </li>
	  <li><a href="#option2" data-toggle="tab">Projects proposed to me</a></li>
	  <li><a href="#option3" data-toggle="tab">Proposal pending for reply</a></li>
	  <li><a href="#option4" data-toggle="tab">Projects pending for reply</a></li>

	</ul>  
	
    <div class = "tab-content">
	          <div class="tab-pane active" id="option1">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
		            
	          </div>
	          
	          <div class="tab-pane" id="option2">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
  
	          </div>
	          
	         <div class="tab-pane" id="option3">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
     
	          </div>    
	          
	         <div class="tab-pane" id="option4">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
	  				</div>		          
    
	  				</div>
	  				</div>
	  				</div>
	  				</div>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Projects ongoing
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
<div class="row">
        <div class="span12 offset">
	 <span id="sort-by">Sort by:  </span>
<select ng-model="orderProp" id="sortTeams">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<!--
<ul class="teams">
  <li ng-repeat="team in teams | filter:query | orderBy:orderProp">
    {{team.name}}
    <p>{{team.snippet}}</p>
  </li>
</ul>
-->
	

	 <div class="pagination pagination-right">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
	  			
          
      <ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#option1" data-toggle="tab">Projects taken</a>
	  </li>
	  <li><a href="#option2" data-toggle="tab">Projects proposed to me</a></li>
	  <li><a href="#option3" data-toggle="tab">Proposal accepted</a></li>


	</ul>  
	
    <div class = "tab-content">
		<div class="tab-pane active" id="option1">
			
			
			<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
			  				<a href ="#">
			  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
			  				</a>
			  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
	  			</div>		          
		            
	          </div>
	          
	          <div class="tab-pane" id="option2">
		          <div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
	  			</div>		          
  
	          </div>
	          
	         <div class="tab-pane" id="option3">
		         <div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
	  					          
     
	  			</div>    
	  			
	  			
	  			           
	  			</div>
        </div>

                    </div>
                  </div>
                </div>
              </div>

                    </div>
                    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Project completed
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="row">
        <div class="span12 offset">
	 <span id="sort-by">Sort by:  </span>
<select ng-model="orderProp" id="sortTeams">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<!--
<ul class="teams">
  <li ng-repeat="team in teams | filter:query | orderBy:orderProp">
    {{team.name}}
    <p>{{team.snippet}}</p>
  </li>
</ul>
-->
	

	 <div class="pagination pagination-right">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
	  			 

      <ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#option1" data-toggle="tab">Projects taken</a>
	  </li>
	  <li><a href="#option2" data-toggle="tab">Projects proposed to me</a></li>
	  <li><a href="#option3" data-toggle="tab">Proposal accepted</a></li>


	</ul>  
	
    <div class = "tab-content">
	          <div class="tab-pane active" id="option1">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
		            
	          </div>
	          
	          <div class="tab-pane" id="option2">
  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
  
	          </div>
	          
	         <div class="tab-pane" id="option3">
		  	<div class ="row">
  		
	  			
	  			<u1 class = "thumbnails"> 
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>										
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->	
	  				
	  				<li class = "span2"> 
	  				
		  				<div class ="thumbnail">
		  				<a href ="#">
		  				<img src = "http://placehold.it/300x200&text=Projects-ongoing"/>
		  				</a>
		  				<h4> Item Label </h4>
		  				</div> <!-- .thumbnail -->
	  				
	  				</li> <!-- .span2 -->
	  					  				  					  					  				
	  			</u1>
  		
  	</div>		          
     
	          </div>   
	          
    </div> 
	          

                    </div>
                  </div>
                </div>
              </div> 
              </div>


         
           
      
      <!-- end .row -->
  
      <!-- end .row -->
      
      



      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
     <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>

    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>

  </body>
</html>
