<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Osmosis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="assets/js/Companies.js"></script>   
        <script>
       
	    
	    function reply_click(clicked_id)
		{
		
		    //retrieve the record in the db that matches with the id
		    
		    //this is a dummy json record, supposed to retrieve out the respective record according to the id that is clicked
		     var testJson = '{"projectName":"FYP matching application", "projectObjective":"To build a web platform that allows matching between fyp teams that are seeking sponsors and sponsors that are looking for fyp teams " , "technologiesExposure":"AngularJS, javascript, twitterbootstrap, python","keyLearningPoints": "sing song and have fun", "contactPerson": "Zen", "contactEmail":"zen@zen.com"}';
        
		     var project = jQuery.parseJSON(testJson);
		    
		    
		    // if its a match, retrieve the details from the array
		    
		    //put it inside the form
		    var projectName = document.getElementById('projectName');
		    var projectObjective = document.getElementById('projectObjective');
		    var technologiesExposure = document.getElementById('technologiesExposure');
		    var keyLearningPoints = document.getElementById('keyLearningPoints');
		    var contactPerson = document.getElementById('contactPerson');
		    var contactEmail = document.getElementById('contactEmail');
		    
		    projectName.value = project.projectName;
		    projectObjective.value = project.projectObjective;
		    technologiesExposure.value = project.technologiesExposure;
		    keyLearningPoints.value = project.keyLearningPoints;
		    contactPerson.value = project.contactPerson;
		    contactEmail.value = project.contactEmail;
		    
		    
		    
		    
		}
	    
	    
    </script>

<!--
    <script src="assets/plunker.js"></script>
    <script src="assets/rainbow.js"></script>
	<script src="assets/rainbow-generic.js"></script>
	<script src="assets/rainbow-javascript.js"></script>
	<script src="assets/rainbow-html.js"></script>
	<script src="assets/js/ui-bootstrap-tpls-0.1.0-SNAPSHOT.min.js"></script>
    <script>
        angular.module('bootstrapDemoApp', ['ui.bootstrap', 'plunker']);
    </script>  
-->   
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap-responsive.css"/>

    <style type="text/css">
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
/*
     #profile-name{
     		position:relative;
     		top:30px;
     		left:-10px;
     		
     		
	     
      }
*/



	#pro{
		position:relative;
		top:25px;
		
		
		
		
	}
	
	#sort-by{
		position:relative;
		right:-880px;	
		
	}
	
	#sortTeams{
		position:relative;
		right:-900px;
		
	}
      #welcome_msg{
	      position:relative;
	      top: 5px;
	      float:right;
	      color:grey;
	      
      }
      
      #plus_sign{
	      position:relative;
	      top: -5px;
	      left:-10px;
	      color:red;
	      
      }
      
      #notify_btn{
	      position:relative;
	      top: 0px;
	      left:10px;
      
      }
      
      #notify_badge{
	      position:relative;
	      top: -5px;
	      left:-90px;

      }
      
      #logo_img{
	      position:relative;
	      top: 10px;
	      left: 0px;
      }

       
      
      

      
 

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body ng-controller="CompanyController">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img src="img/osmosisLogo.png" width=9% id="logo_img">
          <div id="welcome_msg">Welcome, {{name}} | <a href="index-for-log-out.html" >Logout</a></div>
          <br>
          <br>
         
            <ul class="nav" >
              <li class="active"><a href="#" id="tabcolor"><i class="icon-home icon-white"></i> HOME</a></li>
              <li><a href="#about" >PROFILE</a></li>
              <li><a href="#contact">PROJECT CATALOG</a></li>
              <li><a href="#contact">TEAM CATALOG</a></li>
              <li><a href="#contact">FAQ</a></li>
              
            </ul>
            
            <div align="right">
            <button class="btn btn-small btn-warning" type="button" id="notify_btn"><b>Notification</b></button><span class="badge badge-important" id="notify_badge">1</span>
            <button class="btn btn-small btn-primary" type="button">Create Proposal</button>
            <i class="icon-white icon-plus" id="plus_sign"></i><button class="btn btn-small btn-primary" type="button">Create Project</button>
            <i class="icon-white icon-plus" id="plus_sign"></i><button class="btn btn-small btn-primary" type="button">Create Team</button>
            <i class="icon-white icon-plus" id="plus_sign"></i>
            </div>
            
         </div>
      </div>
    </div>

<br/><br/><br/>
      
      <!-- profile start -->
   

      
   
      
       <!-- start of update button and placeholder -->

			      



		      
<!-- end update button and place holder -->
	      
         <!-- end profile --> 
      
    



         
           
     <br/><br/><br/><br/> 
      <!-- end .row -->
      <!-- end .row -->
      <div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
    <!--Body content-->
          <div class = "row-fluid">

<form class="form-horizontal">  
        <fieldset>  
          <legend>Create a Project</legend>  
          <div class="control-group">  
            <label class="control-label" for="projectName">Project Name*</label>  
            <div class="controls">  
              <input type="text" class="input-xlarge" id="projectName" ng-model="projectName" required>  
        
            </div> 
            
            <br/> 
            
           <div class="control-group">  
            <label class="control-label" for="projectObjective">Project Objective*</label>  
            <div class="controls">  
              <textarea class="input-xlarge" ng-model="projectObjective" id="projectObjective" rows="3"></textarea>  
            </div>  
          </div> 
          
          
          <div class="control-group">  
            <label class="control-label" for="technicalRequirements">Technologies exposure*</label>  
            <div class="controls">  
              <textarea class="input-xlarge" ng-model="technologiesExposure" id="technologiesExposure" rows="3"></textarea>  
            </div>  
          </div>           
           
    
          
          <div class="control-group">  
            <label class="control-label" for="keyLearningPoints">Key Learning Points*</label>  
            <div class="controls">  
              <textarea class="input-xlarge" ng-model="keyLearningPoints" id="keyLearningPoints" rows="3"></textarea>  
            </div>  
          </div>   
          
           
           <div class="control-group">  
            <label class="control-label" for="contactPerson">Contact Person*</label>  
            <div class="controls">  
              <input type="text" class="input-xlarge" ng-model="contactPerson" id="contactPerson" required>  
        
            </div> 
            <br/>   
            
          <div class="control-group">  
            <label class="control-label" for="contactEmail">Contact Email*</label>  
            <div class="controls">  
              <input type="text" class="input-xlarge" ng-model="contactEmail" id="contactEmail" required>  
        
            </div> 
            <br/>    
          

          <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Save changes</button>  
            <button class="btn">Cancel</button>  
          </div>  <!-- form actions -->
        </fieldset>  
</form>  
	     </div>			      
			   
      </div>
	        
 <div class="span5">
    <!--Sidebar content-->
    <br/><br/><br/> 
    
  <div class="accordion" id="accordion2">
  <div class="accordion-group" ng-repeat = "project in projects">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{project.id}}">
        {{project.projectName}}
        
        
      </a>
    </div>
    
    <div id="{{project.id}}" class="accordion-body collapse in">
      <div class="accordion-inner">
        Project Objective: {{project.projectObjective}} <br/><br/>
        Technologies Exposure: {{project.technologiesExposure}} <br/><br/>
        Key Learning Points: {{project.keyLearningPoints}} <br/><br/>
        Contact Person: {{project.contactPerson}} <br/><br/>
        Contact Email: {{project.contactEmail}}
        
        <br/><br/><br/>
       
        <button>Remove</button>
        <button>Update</button>
        <button id="{{project.id}}" onClick="reply_click(this.id)">Copy</button>

        
       	        
	        
	        
        

      </div>
    </div>
    
  </div>
  </div>
</div>


  </div>
</div>      


      
      <footer>
      	<p>* denotes compulsory field</p>
        <p>&copy; Company 2012</p>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
<script src="assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="assets/js/docs.js" type="text/javascript"></script>
<script src="assets/js/demo.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>

  </body>
</html>
